[submodule "ambient-provider"]
	path = ambient-provider
	url = git@github.com:NVIDIA-AI-Blueprints/ambient-provider.git
[submodule "ambient-patient"]
	path = ambient-patient
	url = git@github.com:NVIDIA-AI-Blueprints/ambient-patient.git
